.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #09d3ac;
}

.list-group {
  padding-bottom: 1%;
  width: 99%;
  margin: auto;
}

#scroll {
  width: 80%;
  margin: auto;
  padding-bottom: 2%;
  height: 600px;
  overflow-x: scroll;
  background-color: rgba(243, 239, 232, 0.603);
}

#tweets {
  width: 80%;
  margin: auto;
}

.popup {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}

.pagination {
  justify-content: center;
}

.list-group-item.active {
  background-color:rgba(49, 145, 247, 0.835) !important;
  border-color:rgba(49, 145, 247, 0.835) !important;
}

.select-search {
  z-index: 4 !important;
}

.select-filter {
  z-index: 3 !important;
}

.css-yk16xz-control, .css-1pahdxg-control {
  border-radius: 4px !important;
}

.sort {
  display: inline-block;
  margin: auto 5.5% !important;
}

.mail-form,
.filter-form,
.form-search {
  width: 40%;
  margin: auto;
}

.tweet-search {
  width: 50%;
  margin: auto 32%;
}

.register {
  width: 50%;
  margin: auto 27%;
}

.modal-dialog {
  margin-top: 11% !important;
}

.popup_inner {
  border-radius: 1%;
}

.btn:focus, .btn:active, select {
  outline: none !important;
  box-shadow: none !important;
}

.css-1pahdxg-control, .css-1pahdxg-control:hover {
  box-shadow: none !important;
  border-color:#36b0f7 !important; 
}